.metadata-property[data-property-key="YORKIE_DOCUMENT_KEY"] > .metadata-property-key > .metadata-property-icon {
	display: none;
}

button.yorkie-color-purple {
	background-color: #7852ee;
}

button.yorkie-cancel-btn {
	background-color: #e93147;
}

li.yorkie-warning-li {
	margin-bottom: 5px;
}

div.modal.yorkie-notice-modal {
	width: 1000px;
}

.nav-file-title {
	position: relative;
}

span.yorkie-icon {
	position: absolute;
	top: 50%;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0000003b;
	border-radius: 10px;
	transform: translateY(-50%);
	padding: 3px 6px;
}

span.yorkie-icon svg {
	width:13px;
	height: 13px;
}

.cm-ySelection {
	border-radius: 2px;
}

.y-cursor-container {
	position: absolute;
	display: inline-block;
	height: 1em;
	line-height: 1em;
	vertical-align: top;
	top: 0.5em;
}

.y-cursor-line {
	border-left-width: 2px;
	border-left-style: solid;
	height: 1em;
	position: absolute;
	left: 0;
	top: 0;
}

.y-cursor-label {
	position: absolute;
	bottom: 100%;
	color: white;
	padding: 0 2px;
	font-size: 0.4em;
	border-radius: 2px;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.7);
}
